@font-face {
  font-family: Bungee-Shade-Regular;
  src: url('assets/fonts/Bungee_Shade/BungeeShade-Regular.ttf');
}

@font-face {
  font-family: Vast-Shadow-Regular;
  src: url('assets/fonts/Vast_Shadow/VastShadow-Regular.ttf');
}
.welcome-page-container{
  height: 100vh;
}
.noselect{
  user-select: none;
}