.banner-card{
    position: absolute;
    top: 0;
    backdrop-filter: blur(12px);
    border-radius:0.5vw;
    height: 15%;
    width: 100%;
    /* min-height: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0,0.3);
    transition: 0.15s ease-in-out;
    transition-property:transform,box-shadow ;  /* finally */
}

/* .banner-card:hover{
    transform: scale(1.02);
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0,0.6);
} */

.banner-card > h1 {
    margin: 0;
    font-size:3rem;
    text-align: center;
    font-family: Vast-Shadow-Regular;
    color: rgba(255, 234, 234, 0.57);
}
textarea{
    color: white;
    text-align: center;
    background-color: #1d14144d;
    backdrop-filter: blur(12px);
    border-radius:0.5vw;
    width: 30%;
    height: 7vw;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}